<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- Define the default standard out appender for outputing logs. -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{ISO8601} | %-5level | %logger{15} [%thread] | %msg%n
			</Pattern>
		</layout>
	</appender>


	<appender name="ERRORFILE" class="ch.qos.logback.core.FileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<file>errorlog.log</file>
		<append>true</append>
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<charset>UTF-8</charset>
			<layout class="ch.qos.logback.classic.PatternLayout">
				<Pattern>%d{ISO8601} | %-5level | %logger{26} [%thread] | %msg%n
				</Pattern>
			</layout>
		</encoder>
	</appender>

	<appender name="ASYNCERRORFILE" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="ERRORFILE" />
		<queueSize>20</queueSize>
		<discardingThreshold>0</discardingThreshold>
	</appender>

	<!-- Cache logs in the local file system for preventing the socket is not 
		working correctly. -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- hourly rollover -->
			<fileNamePattern>archived-logs.%d{yyyy-MM-dd_HH}.gz</fileNamePattern>
			<!-- keep days (24 hours) worth of history -->
			<maxHistory>24</maxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<charset>UTF-8</charset>
			<layout class="ch.qos.logback.classic.PatternLayout">
				<Pattern>%X{hostname} | %d{ISO8601} | %-5level | %logger{36} [%thread] | %msg%n</Pattern>
			</layout>
		</encoder>
	</appender>

	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="FILE" />
		<queueSize>100</queueSize>
		<discardingThreshold>0</discardingThreshold>
	</appender>

	<!-- Set the default logging level to "ALL" level for loggers which are 
		not specified. -->
	<root level="ALL">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ASYNC" />
		<appender-ref ref="ASYNCERRORFILE" />
	</root>
</configuration>